.venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.egg-info/
*.egg
*.orig
*.env
.DS_Store
*.pytest_cache/
/media/
/staticfiles/
node_modules/
.vscode/
coverage_html_report/
celerybeat-schedule
*.sqlite
.env
